* {
  font-family: sans-serif;
}

.option-input {
  appearance: none;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border: 1px solid #0094ff;
  position: relative;
  margin: 0 8px;
}

.option-input:focus {
  outline: none;
}

.option-input--radio {
  border-radius: 50%;
}

.option-input--radio:checked::before {
  height: 8px;
  width: 8px;
  background: #0094ff;
  border-radius: 50%;
  position: absolute;
  content: "";
  display: inline-block;
  top: 2px;
  left: 2px;
  bottom: -2px;
}

.option-input--checkbox:checked::before {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  content: "✓";
  color: #0094ff;
  display: inline-block;
  left: 2px;
  font-weight: bold;
  top: -2px;
  left: 0px;
}

.text-input {
  background: #f5f8fa;
  border-radius: 8px;
  border: "none";
}

.text-input:focus {
  outline: none;
}

.text-input::placeholder {
  color: #a2a2a2;
}

.input--invalid-message {
  color: red;
  position: absolute;
  bottom: -17px;
  font-size: 10px;
  left: 18px;
}
